In [1]:
import pandas as pd
import os

In [2]:
os.listdir("../data")

['timetable.csv',
 'delay_distrib.csv',
 'arrivalsRouteStops.csv',
 '.gitattributes',
 'timetable',
 'route_names.csv',
 'terminusRouteStops.csv',
 '.gitkeep',
 'departuresRouteStops.csv',
 'terminusRouteStops',
 'arrivalsRouteStops',
 'departuresRouteStops',
 'delay_distrib',
 'stations.csv',
 'route_names_types.csv',
 'waiting_times.csv',
 'stop_ids_in_radius.csv']

### Adding types and route names to routeStops

In [5]:
arrivals = pd.read_csv("../data/arrivalsRouteStops/arrivalsRouteStops.csv")
arrivals.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:443968426de60978222aab4d10b7edcf381...
1                                       size 3028166

In [24]:
def load_csv(name, i=0, **kwargs):
    return pd.read_csv("../data/{name}/{file}".format(name=name, file=os.listdir("../data/{name}".format(name=name))[i]), **kwargs)

In [26]:
arrivals = load_csv("arrivalsRouteStops.csv")

In [35]:
routes_names_types = pd.read_csv("../data/route_names_types.csv").drop("Unnamed: 0", axis=1)

In [36]:
display(arrivals.head())
display(routes_names_types.head())

,STOP_NAME,stop_sequence,end_route_stop_id,route_stop_id,travel_time,target_end_route_stop_id
0,"Zürich, Hardplatz",16,"26-72-j20-1$Zürich, Hardplatz$A","26-72-j20-1$Zürich, Hardplatz",NaN,"26-72-j20-1$Zürich, Albisriederplatz$D"
1,"Zürich, Römerhof",3,"26-3-A-j20-1$Zürich, Römerhof$A","26-3-A-j20-1$Zürich, Römerhof",NaN,"26-3-A-j20-1$Zürich, Hölderlinstrasse$D"
2,"Zürich, Werdhölzli",27,"26-6-j20-1$Zürich, Werdhölzli$A","26-6-j20-1$Zürich, Werdhölzli",NaN,"26-6-j20-1$Zürich, Bändliweg$D"
3,"Zürich, Albisriederdörfli",5,"26-80-j20-1$Zürich, Albisriederdörfli$A","26-80-j20-1$Zürich, Albisriederdörfli",NaN,"26-80-j20-1$Zürich, Albisrieden$D"
4,"Kilchberg ZH, Schwelle",13,"26-N15-j20-1$Kilchberg ZH, Schwelle$A","26-N15-j20-1$Kilchberg ZH, Schwelle",NaN,"26-N15-j20-1$Kilchberg ZH, Sanatorium$D"

       route_id route_name transport_type
0   12-81-j20-1     Bus 81            Bus
1  13-383-j20-1    Bus 383            Bus
2   18-30-j20-1     Bus 30            Bus
3  20-NE2-j20-1    Bus NE2            Bus
4  21-838-j20-1    Bus 838            Bus

In [37]:
print("Number of arrivals : ", len(arrivals.index))

Number of arrivals :  21543

In [41]:
arrivals["route_id"] = arrivals.route_stop_id.apply(lambda x : x.split("$")[0])

In [42]:
arrivals_ext = arrivals.merge(routes_names_types, on="route_id")

In [43]:
print("Number of arrivals : ", len(arrivals_ext.index))

Number of arrivals :  21543

In [44]:
arrivals_ext.to_csv("../data/arrivals_ext.csv")